<script>
  export let status;
  export let error;

  const dev = process.env.NODE_ENV === 'development';
  const offline = typeof navigator !== 'undefined' && navigator.onLine === false;
  const title = offline ? 'Offline' : status;
  const message = offline ? 'Find the internet and try again' : error.message;
</script>

<svelte:head>
  <title>{title}</title>
</svelte:head>

<h1>{title}</h1>

<p>{message}</p>

{#if dev && error.stack}
  <pre>{error.stack}</pre>
{/if}

<style>
  h1,
  p {
    margin: 0 auto;
  }

  h1 {
    font-size: 2.8em;
    font-weight: 700;
    margin: 0 0 0.5em 0;
  }

  p {
    margin: 1em auto;
  }

  @media (min-width: 480px) {
    h1 {
      font-size: 4em;
    }
  }
</style>
