<script module>
  import Header from '../components/Header.svelte';

  import Meta from '../components/Meta.svelte';
  import Nav from '../components/Nav.svelte';

  export let segment;
  segment = segment;
</script>

<Meta />

<Header>
  <Nav {segment} />
</Header>

<slot />

<style lang="scss" type="text/postcss" global>
  @import '../assets/global.scss';
</style>
