<script>
  import ArticlePreview from './Preview.svelte';

  export let articles;
</script>

<section class="article_list">
  <div class="container">
    <div class="-my-8">
      {#if articles}
        {#if articles.length === 0}
          <div class="article-preview">No articles are here... yet.</div>
        {:else}
          <ul>
            {#each articles as article (article.slug)}
              <ArticlePreview {article} />
            {/each}
          </ul>
        {/if}
      {:else}
        <div class="article-preview">Loading...</div>
      {/if}
    </div>
  </div>
</section>

<style type="text/postcss">
  section.article_list {
    @apply pt-10 overflow-hidden text-gray-500 bg-gray-900 body-font

    div {
      @apply px-5 mx-auto;
    }
  }
</style>
