<script>
  export let article;
</script>

<div class="flex flex-wrap py-8 md:flex-no-wrap card ~neutral !low mb-5">
  <div class="flex flex-col flex-shrink-0 mb-6 md:w-64 md:mb-0">
    <span
      class="font-medium tracking-widest text-white title-font"
    >{article.category}</span>
    <span
      class="mt-1 text-sm text-gray-600"
    >{new Date(article.date).toDateString()}</span>
    <a href="/u/@{article.author.username}" class="mt-1 text-gray-300">
      by {article.author.username}
    </a>
  </div>
  <div class="md:flex-grow">
    <h2 class="mb-2 text-2xl font-medium text-white title-font">
      <a href="/{article.slug}">{article.title}</a>
    </h2>
    <p class="leading-relaxed">{article.excerpt}</p>
    <div class="flex flex-col flex-wrap items-center mx-auto md:flex-row">
      <span class="flex items-center mb-4">
        <a
          href="/articles/{article.slug}"
          rel="prefetch"
          class="inline-flex mt-4 text-indigo-500"
        >Learn More <svg
            class="w-4 h-4 mt-1 ml-2"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M5 12h14" />
            <path d="M12 5l7 7-7 7" />
          </svg>
        </a>
      </span>

      <span class="flex flex-wrap items-center justify-center text-base md:ml-auto">
        {#each article.tags as tag}
          <div class="chip ~neutral mt-2 mx-2">{tag}</div>
        {/each}
      </span>
    </div>
  </div>
</div>
