<script>
  import Logo from './Logo.svelte';
</script>

<header class="text-gray-500 bg-gray-900 body-font">
  <div class="container flex flex-col flex-wrap items-center p-5 mx-auto md:flex-row">
    <a
      class="flex items-center mb-4 font-medium text-white title-font md:mb-0"
      href="/"
    >
      <Logo />
      <span class="ml-3 text-xl">Writing Code</span>
    </a>
    <slot />
  </div>
</header>

<style>

</style>
