<script>
  export let href = '/';
  export let size = 'medium';
  let dimension = '192';
  if (size === 'large') {
    dimension = '512';
  }
</script>

<a {href}>
  <img alt="Sapper" src="logo-{dimension}.png" />
</a>

<style>
  img {
    display: block;
    height: 50px;
    width: 50px;
  }
</style>
