<script>
  import { metadata, name as siteName } from '../app/utils/meta';

  export let meta = {};
  export let title = `${metadata.title} - ${siteName}`;

  $: meta = { ...metadata, title };
</script>

<svelte:head>
  {#if meta.title}
    <title>{meta.title}</title>
    <meta name="title" content="{meta.title}" />
    <meta property="og:title" content="{meta.title}" />
    <meta property="twitter:title" content="{meta.title}" />
  {/if}

  {#if meta.author}
    <meta property="twitter:creator" content="{meta.author}" />
  {/if}

  {#if meta.description}
    <meta name="description" content="Page Description" />
    <meta property="og:description" content="Page Description" />
    <meta property="twitter:description" content="Page Description" />
  {/if}

  {#if meta.image}
    <meta property="og:image" content="{meta.image}" />
    <meta property="twitter:image" content="{meta.image}" />
  {/if}

  {#if meta.imageAlt}
    <meta property="og:image:alt" content="{meta.imageAlt}" />
    <meta property="twitter:image:alt" content="{meta.imageAlt}" />
  {/if}

  {#if meta.url}
    <meta property="og:url" content="{meta.url}" />
    <meta property="twitter:url" content="{meta.url}" />
  {/if}

  <meta property="og:type" content="{meta.type || 'website'}" />

  <meta property="twitter:card" content="{meta.twitterCard || 'summary_large_image'}" />
</svelte:head>
