<script>
  export let segment;
</script>

<nav class="flex flex-wrap items-center justify-center text-base md:ml-auto">
  <a
    class="mr-5 hover:text-white"
    aria-current={segment === undefined ? 'page' : undefined}
    href="."
  >home</a>
  <a
    class="mr-5 hover:text-white"
    aria-current={segment === 'about' ? 'page' : undefined}
    href="about"
  >
    about
  </a>

  <a
    class="mr-5 hover:text-white"
    rel="prefetch"
    aria-current={segment === 'articles' ? 'page' : undefined}
    href="/articles"
  >
    articles
  </a>
</nav>
<!--
   <nav class="flex flex-wrap items-center justify-center text-base md:ml-auto">
      <a class="mr-5 hover:text-white">First Link</a>
      <a class="mr-5 hover:text-white">Second Link</a>
      <a class="mr-5 hover:text-white">Third Link</a>
      <a class="mr-5 hover:text-white">Fourth Link</a>
    </nav>
 -->

<style>

</style>
