<script context="module">
  export async function preload(_page, _session) {
    return this.fetch('articles.json')
      .then((r) => r.json())
      .then((articles) => {
        return { articles };
      });
  }
</script>

<script>
  import List from '../../components/Articles/List.svelte';

  export let articles;
</script>

<svelte:head>
  <title>Articles</title>
</svelte:head>

<div class="flex flex-col w-full mb-10 text-center">
  <h1 class="mb-4 text-2xl font-medium text-white sm:text-3xl title-font">Recent articles</h1>
</div>

<List {articles} />
